name: forui
description: Beautifully designed, minimalistic widgets for desktop & touch devices.
version: 0.8.0
homepage: https://forui.dev/
documentation: https://forui.dev/docs
repository: https://github.com/forus-labs/forui/tree/main/forui
issue_tracker: https://github.com/forus-labs/forui/issues
topics:
  - ui
  - widget

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.0"
resolution: workspace

dependencies:
  collection: ^1.18.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_svg: ^2.0.10+1
  forui_assets: ^0.8.0
  google_fonts: ^6.2.0
  intl: any
  meta: ^1.11.0
  nitrogen_flutter_svg: ^0.3.0+1
  nitrogen_types: ^0.3.0+1
  sugar: ^3.1.0


dev_dependencies:
  build_runner: ^2.4.0
  flint: ^2.8.1
  flutter_test:
    sdk: flutter
  http: ^1.2.2
  mockito: ^5.4.4

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/inter/Inter-Thin.ttf
          weight: 100
        - asset: assets/fonts/inter/Inter-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/inter/Inter-Light.ttf
          weight: 300
        - asset: assets/fonts/inter/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/inter/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/inter/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/inter/Inter-Bold.ttf
          weight: 700
        - asset: assets/fonts/inter/Inter-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/inter/Inter-Black.ttf
          weight: 900

  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
