name: Docs Preview Deploy
on:
  pull_request_target:
    branches: [ main ]
    paths:
      - '.github/workflows/docs_preview_deploy.yaml'
      - 'docs/**'
      - 'samples/**'

jobs:
  docs:
    name: Deploy Docs
    runs-on: ubuntu-latest
    environment: docs-development
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Publish samples
      - uses: subosito/flutter-action@v2.16.0
        with:
          flutter-version: ${{ vars.ACTUALLY_WORKING_FLUTTER_VERSION }}
          cache: true
      - working-directory: ./samples
        run: |
          flutter pub get
          flutter pub run build_runner build --delete-conflicting-outputs
          flutter build web
      - uses: cloudflare/pages-action@v1
        id: publish_samples
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ vars.CLOUDFLARE_DEMO_PROJECT_NAME }}
          directory: ./samples/build/web

      # Publish docs
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/configure-pages@v5
      - working-directory: ./docs
        run: |
          pnpm install
          NEXT_PUBLIC_DEMO_URL=${{ steps.publish_samples.outputs.url }} pnpm run export
      - uses: cloudflare/pages-action@v1
        id: publish_docs
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ vars.CLOUDFLARE_DOCS_PROJECT_NAME }}
          directory: ./docs/out

      # Create/update comment with link to preview
      - uses: tibdex/github-app-token@v2
        id: generate_token
        with:
          app_id: ${{ secrets.TOKEN_MINT_APP_ID }}
          private_key: ${{ secrets.TOKEN_MINT_PRIVATE_KEY }}
      - uses: peter-evans/find-comment@v3
        id: find_comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'forus-labs-token-mint[bot]'
      - uses: chuhlomin/render-template@v1.10
        id: render_markdown
        with:
          template: .github/deployment_preview_template.md
          vars: |
            sha: ${{ github.pull_request.head.sha }}
            id: ${{ steps.publish_docs.outputs.id }}
            url: ${{ steps.publish_docs.outputs.url }}
      - uses: peter-evans/create-or-update-comment@v4
        with:
          token: ${{ steps.generate_token.outputs.token }}
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.render_markdown.outputs.result }}
          edit-mode: replace