name: Docs Preview Build
on:
  pull_request:
    branches: [ main ]
    paths:
      - 'docs_preview_build.yaml'
      - 'docs_preview_deploy.yaml'
      - 'docs/**'
      - 'samples/**'

jobs:
  build:
    name: Build Docs & Samples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2.21.0

      # Build samples
      - working-directory: forui
        run: |
          flutter pub get
          dart run build_runner build --delete-conflicting-outputs
      - working-directory: ./samples
        run: |
          flutter pub get
          dart run build_runner build --delete-conflicting-outputs
          flutter build web
      - uses: actions/upload-artifact@v5
        with:
          name: samples-build
          path: ./samples/build/web
          retention-days: 1

      # Prepare branch & sha info
      - id: escape-branch
        run: |
          BRANCH="${{ github.event.pull_request.head.ref }}"
          ESCAPED="${BRANCH//\//-}"
          echo "branch=$ESCAPED" >> $GITHUB_OUTPUT
      - id: short-sha
        run: |
          echo "sha=$(echo ${{ github.event.pull_request.head.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      # Build docs
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - working-directory: ./docs
        env:
          # We don't use the CLOUDFLARE_DEMO_PROJECT_NAME environment variable since it requires us to set the
          # environment for this workflow, unintentionally leaking environment secrets.
          NEXT_PUBLIC_DEMO_URL: https://${{ steps.escape-branch.outputs.branch }}-${{ steps.short-sha.outputs.sha }}.forui-demo-dev.pages.dev
        run: |
          pnpm install
          pnpm run build
      - uses: actions/upload-artifact@v5
        with:
          name: docs-build
          path: ./docs/out
          retention-days: 1

      # Upload PR metadata
      - run: |
          echo "${{ github.event.number }}" > pr-number.txt
          echo "${{ github.event.pull_request.head.ref }}" > pr-head-ref.txt
          echo "${{ github.event.pull_request.head.sha }}" > pr-head-sha.txt

      - uses: actions/upload-artifact@v5
        with:
          name: pr-metadata
          path: |
            pr-number.txt
            pr-head-ref.txt
            pr-head-sha.txt
          retention-days: 1
