name: Forui Build

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/forui_build.yaml
      - forui/**
  pull_request:
    paths:
      - forui/**

jobs:
  test:
    name: Build & test
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: forui
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        flutter-version: [ 3.x ]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.19.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true
      - run: flutter pub get
      - run: dart run build_runner build --delete-conflicting-outputs
      - run: flutter analyze
      - run: flutter test
      - run: |
          if output=$(dart doc --dry-run 2>&1); then
              if echo "$output" | grep -q -i "warning:"; then
                  echo "Documentation warnings found:"
                  echo "$output" | grep -i "warning:"
                  exit 1
              else
                  echo "No documentation warnings found!"
                  exit 0
              fi
          else
              echo "Error: dart doc command failed"
              echo "$output"
              exit 1
          fi
        if: runner.os == 'Linux'

  test-cli:
    name: Build CLI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-version: [ 3.x ]
    defaults:
      run:
        working-directory: forui/example
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.19.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true
      - run: dart run build_runner build --delete-conflicting-outputs
        working-directory: forui
      - run: dart run forui init -f
      - run: dart run forui theme create -f
      - run: dart run forui style create -af
      - run: dart run forui style create -af -o ./lib/theme/all_styles.dart
      - run: flutter analyze --no-fatal-infos --no-fatal-warnings

  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-version: [ 3.x ]
    defaults:
      run:
        working-directory: forui/example
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: subosito/flutter-action@v2.19.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true

      - run: dart run build_runner build --delete-conflicting-outputs
        working-directory: forui

      - run: flutter pub get
      - run: dart run build_runner build --delete-conflicting-outputs
      - run: flutter build appbundle --debug --no-pub --no-tree-shake-icons

  build-ios:
    name: Build iOS
    runs-on: macos-latest
    defaults:
      run:
        working-directory: forui/example
    strategy:
      matrix:
        flutter-version: [ 3.x ]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.19.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true

      - run: dart run build_runner build --delete-conflicting-outputs
        working-directory: forui

      - run: flutter pub get
      - run: dart run build_runner build --delete-conflicting-outputs
      - run: pod repo update
        working-directory: forui/example/ios
      - run: flutter build ios --debug --no-codesign --no-pub
