name: Forui Internal Gen Build

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/forui_internal_gen_build.yaml
      - forui/**
  pull_request:
    paths:
      - forui/**

jobs:
  test:
    name: Build & test
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: forui_internal_gen
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        flutter-version: [ 3.x ]
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2.21.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
      - run: dart pub get
      - run: dart run build_runner build --delete-conflicting-outputs
      - run: dart analyze
      - run: dart test
