name: Forui Build

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/forui_build.yaml
      - forui/**
  pull_request:
    paths:
      - forui/**

jobs:
  test:
    name: Build & test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: forui
    strategy:
      matrix:
        flutter-version: [ 3.x ]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.17.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true
      - run: flutter pub get
      - run: flutter pub run build_runner build --delete-conflicting-outputs
      - run: |
          output=$(dart doc --validate-links .)
          if echo "$output" | grep -q "Found 0 warnings and 0 errors"; then
            exit 1
          fi
      - run: flutter analyze
      - run: flutter test

  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-version: [ 3.x ]
    defaults:
      run:
        working-directory: forui/example
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: subosito/flutter-action@v2.17.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true

      - run: flutter pub get
      - run: flutter pub run build_runner build --delete-conflicting-outputs
      - run: flutter build appbundle --debug --no-pub --no-tree-shake-icons

  build-ios:
    name: Build iOS
    runs-on: macos-latest
    defaults:
      run:
        working-directory: forui/example
    strategy:
      matrix:
        flutter-version: [ 3.x ]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.17.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          cache: true

      - run: flutter pub get
      - run: flutter pub run build_runner build --delete-conflicting-outputs
      - run: pod repo update
        working-directory: forui/example/ios
      - run: flutter build ios --debug --no-codesign --no-pub
