name: MD Lint

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/md_lint.yaml
      - '**.md'
  pull_request:
    paths:
      - .github/workflows/md_lint.yaml
      - '**.md'

jobs:
  lint:
    name: Lint Markdown URLs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.AUTO_MAID_APP_ID }}
          private_key: ${{ secrets.AUTO_MAID_PRIVATE_KEY }}
      - uses: lycheeverse/lychee-action@v2
        with:
          # GitHub seems to have tightened their secondary rate limits causing previously working checks to fail.
          args: --no-progress './**/*.md'
          token: ${{ steps.generate-token.outputs.token }}
