name: Forui Samples Presubmit

on:
  workflow_dispatch: { }
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/samples_presubmit.yaml
  pull_request_target:
    branches: [ main ]
    paths:
      - samples/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  prepare:
    if: github.actor != 'auto-maid[bot]' && github.event.pull_request.draft == false && !contains(github.event.head_commit.message, 'Prepare samples for review')
    name: Prepare PR for review
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: samples

    steps:
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.AUTO_MAID_APP_ID }}
          private_key: ${{ secrets.AUTO_MAID_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: subosito/flutter-action@v2.21.0
        with:
          cache: true

      - working-directory: forui
        run: |
          flutter pub get
          dart run build_runner build --delete-conflicting-outputs

      - run: flutter pub get
      - run: dart run ../tool/sort.dart forui_samples
      - run: dart run build_runner build --delete-conflicting-outputs
      - run: dart fix --apply
      - run: dart format .

      - uses: EndBug/add-and-commit@v9
        with:
          pull: '--rebase --autostash'
          message: 'Prepare samples for review'
          add: '.'
